Library

Debug

Temp
*.suo
*.sdf
*.opensdf
TestScene.unity
TestScene.unity.meta
*.csproj
*.csproj
TestScene.unity
TestScene.unity.meta
/Straw_Man/Assets/Sprites/Misc
Misc.meta
CodeFreezerino_data
*.exe
TestSceneZ.unity
TestSceneZ.unity.meta